<h3>Shopping Cart</h3>

<p>
	<a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
	<span>{{ item.name }}</span>
	<span>{{ item.price | currency:'R' }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
	<div>
		<label for="first_name">First Name</label>
		<input id="first_name" type="text" formControlName="first_name">
  </div>
		<div>
			<label for="last_name">Last Name</label>
			<input id="last_name" type="text" formControlName="last_name">
  </div>
			<div>
				<label for="mobile_number">Mobile Number</label>
				<input id="mobile_number" type="tel" formControlName="mobile_number">
  </div>
				<div>
					<label for="address">Address</label>
					<input id="address" type="text" formControlName="address">
  </div>

					<button class="button" type="submit">Pay Now</button>
</form>